@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <small>@DateTime.Today.ToString("D")</small>
    <h1>Welcome to the Community</h1>
    <p class="lead">This website has excellent information about our community, area, and happening events!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem Ipsum</h2>
        <p>
            Yabber iknor psi evwe negquit lorm fawdi kimm pudby.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Habapuda</h2>
        <p>Skemptu idsoren ip jerw nirlan efrrocta albem.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jjirol</h2>
        <p>Cworpl sydgo ma sheln imp alre lorm psi vurtpel.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>